@model Vidly.Models.Movie
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Movie Detail</h2>

@if (Model==null)
{
    <h3>Invalid User Id</h3>
}

else
	{
	            <h3>    @Model.Title </h3>
                <br />
                <ul>
                    <li>Description: @Model.Description</li>
                    <li>Genre: @Model.Genre.Name</li>
                    <li>Released Date: @Model.ReleaseDate</li>
                    <li>Stock Available: @Model.Stock</li>
                    @*<li>@Model.</li>*@

                </ul>
                
	}
